#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_build:
	npm --cache /tmp/npmcache install
	bash debian/install-sails-aaf-rapid-connect.sh
	dh_auto_build

override_dh_auto_test:
	npm --cache /tmp/npmcache test
	dh_auto_test
